body {
    font-family: Arial;
    margin: 0;
}


  /* Header/Logo Title */
.header {
    padding-bottom: 80px;
    text-align: center;
    background: #646464;
    color: white;
    font-size: 30px;
    background-image: url('mythos4.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: contain;   
}

.content {
  text-align: center;
  background-image: url('banner.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-color: white;   
}
/* Page Content */
.contents {
  border-color: #111;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 22%;
  margin-right: 22%;
  font-size: 20px;
  text-align: left;

}

ul {
    display: flex;
    justify-content: left;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 65, 65);
}
  
li {
    float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.footer {
  background-color: rgb(59, 59, 59);
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer2 {
  background-color: rgb(26, 26, 26);
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  
}